@import url('https://fonts.googleapis.com/css?family=Abel|Anton&display=swap');
body {
    font-family:"anton","abel", san-serif;
    background-color: #F0F0F0;
    text-align: center;}
* .h {
    font-family: 'Anton', sans-serif;
}



.circle {
    border-radius: 50%;
    width: 105px;
    height: 105px;
    border: white solid .5em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.circlesmall {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.circle-red {
    background-color: #E6563B;
}
.circle-yellow {
    background-color: #EB9D3A;
}
.circle-green {
    background-color: #7CB06C;
}
.circle-blue {
    background-color: #00ABA9;
}
.circle-row {
    text-align: center;
    color: white;
}





