@import url('https://fonts.googleapis.com/css?family=Abel|Anton&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #F0F0F0;
}

.logo-img{
    height:105px;
    width:105px;
}
h1, h2, h3, h4, h5 {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-family: "Abel", sans-serif;
}

.overall-container {
    display: grid;
    grid-template-areas:
            "nav"
            "header"
            "main"
            "onside";
    width: 100%;
    padding: .8em;
    max-width: 992px;
    margin: 0 auto;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

onside {
    grid-area: onside;
}

.large-circle-overall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.individual-large-circle {
    height: 105px;
    width: 105px;
    background: grey;
    color: white;
    display: flex;
    border-radius: 53px;
    border: .3em solid white;
    margin: 1%;
}

.individual-large-circle>* {
    margin: auto;
    font-size: 1.3em;
}


hr {
    display: none;
}

.red {
    background: #E6563B;
}

.yellow {
    background: #EB9D3A;
}

.green {
    background: #7CB06C;
}

.blue {
    background: #00ABA9;
}


.smaller-gray-font {
    text-transform: uppercase;
}
main side-info img {
    width: 100%;
}

main>section {
    display: grid;
    grid-row-gap: 2em;
}

main>section>.smaller-gray-font,
onside>.smaller-gray-font {
    text-align: center;
    margin-top: 5em;
}

.design-card section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
}

.design-card section>* {
    flex-grow: 0;
}


.design-card section p {
    margin-right: auto;
}

.small-circle {
    font-weight: bold;
    margin: .2em;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.small-circle>* {
    margin: auto;
}

onside side-info  {
    display: flex;
    align-items: flex-start;
}


.card-image {
    width: 100%;
    height: 60vw;
    background-size: cover;
    background-position: center;
    border: .5em solid grey;
    border-radius: .25em;
}

.side-info-image {
    height: 20vw;
    width: 20vw;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    margin-right: 1em;
}

onside side-info h4 {
    margin-top: 0;
}

.icon {
    color: #1AA1F3;
    font-size: 1.5em;
    position: relative;
    top: 6px;
    margin-right: .3em;
}


@media screen and (min-width:768px) {

    hr {
        display: block;
        width: 100%;
    }

    main>section {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }

    main section>p {
        grid-area: 1 / 1 / 2 /-1;
    }

    .card-image {
        height: 30vw;
        margin: 0;
    }
}

@media screen and (min-width:992px) {


    .side-info-image {
        width: 60px;
        height: 60px;
        border: 2px solid lightgray;
    }

    .card-image {
        height: 200px;
    }

    main>section>.smaller-gray-font, onside>.smaller-gray-font {
        text-align: left;
    }

    onside side-info h4 {
        margin: 0;
        font-size: 1.4em;
        position: relative;
        bottom: 5px;
    }

    .divided-section>div>* {
        margin: 1em 0;
    }

    .overall-container {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2em;
        grid-template-areas:
                "nav nav nav"
                "header header header"
                "main main onside";
    }

    onside>div {
        margin: 3em 0 2em 0;
    }

}

@media screen and (min-width:1200px) {

}